body{
  margin: 0 0;
  background-image: url(image/back.png);
  color: #E6E6FA;
}

/*header*/

header{
  width: 100%;
}

 header img{
   border-radius: 50%;
   float: right;
   display: inline-block;
   margin: 2em 11em 0 0;
 }

header h1{
  font-size: 50px;
  margin: 1.5em 0 0 4.4em;
  display: inline-block;
  text-transform: uppercase;
}

header p{
  font-size: 1em;
  margin: 0 0 0 14em;
}

header span{
  color: #FF4500;
}

/*body*/

ul{
  list-style: none;
}

li{
  padding: 0.3em;
}

/*Aside*/

aside{
  width: 21%;
  margin: 2em 1em 0 6em;
  border-right: black solid;
  border-radius: 1em;
  padding: 1em;
  float: left;
}

/*section 1*/

.formation{
  width: 62%;
  margin: 0.2em 0 0 1em;
  padding: 1em;
  border-left: black solid;
  border-radius: 1em;
  float: right;
}

.formation span{
  font-weight: 600;
}

.formation h2{
  border-bottom: #FF4500 solid;
  width: 19%;
}

/*section 2*/

.experiences{
  width: 62%;
  padding: 1em;
  border-left: black solid;
  border-radius: 1em;
  margin: 2em 0 0 0;
  float: right;
}

.experiences span{
  font-weight: 600;
}


.experiences h2{
  border-bottom: #FF4500 solid;
  width: 44%;
}
