body{
  margin: 0 0;
  background-image: url(image/back.png);
  color: white;
}

header{
  width: 100%;
}

 header img{
   border-radius: 50%;
   float: right;
   display: inline-block;
   margin: 2em 11em;
 }

header h1{
  font-size: 65px;
  margin: 1.1em 1.5em;
  display: inline-block;
  text-transform: uppercase;
}

p{
  font-size: 20px;
  margin: 0 10em;
}
