body{
  margin: 0 0;
  background-image: url(image/back.png);
  color: #E6E6FA;
}

/*header*/

header{
  width: 100%;
}

 header img{
   border-radius: 50%;
   float: right;
   display: inline-block;
   margin: 2em 11em 0 0;
 }

header h1{
  font-size: 50px;
  margin: 1.5em 0 0 4.4em;
  display: inline-block;
  text-transform: uppercase;
}

header p{
  font-size: 1em;
  margin: 0 0 0 14em;
}

/*body*/

ul{
  list-style: none;
}

li{
  padding: 0.3em;
}

/*Aside*/

aside{
  width: 21%;
  margin: 2em 1em 0 6em;
  border-right: black solid;
  border-radius: 2em;
  padding: 1em;
  float: left;
}

/*section*/

section{
  width: 62%;
  margin: 0 0 0 1em;
  padding: 1em;
  border-left: black solid;
  border-radius: 2em;
  float: right;
}
